<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>WELLCOME TO STUDENT DETAILS</h1>
NAME     : {{ data.Name}}  <br><br>
EMAIL     : {{ data.Email}}<br><br>
DEPARTMENT : {{ data.Department}}<br><br>
SSC MARKS : {{ data.sscmarks}}<br><br>
INTER MARKS: {{ data.intermarks }}<br><br>
<img src="{{data.Data.url}}" height="50px" width="50px"> <br><br>
<a href="/stdlist/">STUDENT LIST</a><br><br>
<a href="/stflist/">STAFF LIST</a><br><br>
<a href="/slogin/">LOGOUT</a><br><br>
</body>
</html>