<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>WELLCOME TO STAFF DETAILS</h1>
Name           : {{data.name}} <br>
Email          : {{data.email}}<br>
Department     : {{data.department}}<br>
Qualification  : {{data.qualification}}<br>
Experience     : {{data.experience}}<br>
Mobile         : {{data.mobile}}<br><br>


<a href="/stdlist/">STUDENT LIST</a><br><br>
<a href="/stflist/">STAFF LIST</a><br><br>
<a href="/slogin/">LOGOUT</a><br><br>
<a href="/stflogin/">BACK</a><br><br>

</body>
</html>